params {
    # Set flags to false by default
    ascp = False
    test = False
}

manifest {
    name = 'samstudio8/elan-ena-nextflow'
    author = 'Samuel Nicholls (@samstudio8)'
    description = 'A Nextflow pipeline for smoothly transferring fresh consensus sequences to ENA'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
    version = '0.1.3'
    defaultBranch = 'stable'
}
